<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.80, maximum-scale=1.0, user-scalable=no">
    <title>Gifflags</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header class="w-full gap-2 p-4 bg-black flex justify-center items-center">
        <img class="w-5" src="/icons/logo.gif" alt="logo.gif">
        <h1 class="text-white">Gifflags</h1>
    </header>
    <div id="countriesList" class="w-full h-screen"> 
        <% 
        for (let i = 0; i < countries.length; i++) { 
            const country = countries[i];
        %>
            <div class="w-full flex gap-2 p-3 border-b-1 border-gray-300">
                <span id="s-order" class="font-bold self-center">#<%= i + 1 %></span>
                <div class="relative w-28 h-auto" onclick="console.log(countriesList); OpenGifChange('<%= country.name %>')">
                    <i class="fa-solid fa-pen absolute left-1 text-gray-500 rounded-full p-2 bg-[#ffffff80] top-1"></i>
                    <img class="w-28 h-28 object-cover rounded" src="<%= country.image %>" alt="" loading="lazy">
                </div>
                <div class="flex-1">
                    <div class="w-full flex gap-2 justify-center items-center">
                        <img class="w-8" id="c-flag" src="<%= country.flag %>" alt="" loading="lazy">
                        <h1 id="c-name" class="text-lg font-bold">
                            <%= country.name %>
                        </h1>
                    </div>
                    <div class="w-full flex flex-col justify-center items-center">
                        <p id="<%= country.name %>-score" class="text-orange-600 font-extrabold text-2xl"><%= country.score %></p>
                    </div>
                    <div class="flex gap-2 mt-2">
                        <button onclick="handleIncrease('<%= country.name %>')" class="cursor-pointer hover:bg-green-700 flex-1 bg-green-600 text-white px-5 py-1 rounded-lg border-green-700 border-3"><i class="text-xl fa-solid fa-caret-up"></i></button>
                        <button onclick="handleDecrease('<%= country.name %>')" class="cursor-pointer hover:bg-red-700 flex-1 bg-red-600 text-white px-5 py-1 rounded-lg border-red-700 border-3"><i class="text-xl fa-solid fa-caret-down"></i></button>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <div id="loading" class="w-full h-screen flex justify-center items-center absolute top-0 bg-black">
        <div class="flex flex-col justify-center items-center">
            <img class="w-20" src="/icons/logo.gif" alt="loading.gif">
            <p class="text-white text-2xl font-bold">Gifflags...</p>
        </div>
    </div>
    
</body>
<script>
  const countries = <%- JSON.stringify(countries) %>;
</script>
<script src="/main.js"></script>
</html>